<header>
    <nav>
      <h1>My Book Notes</h1>
      <div class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/books">Add New Book</a></li>
      </div>
    </nav>
  </header>
  
 